html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Helvetica Neue';
    font-size: 16px;
}

body.dark-theme {
    color: #fff;
    background-color: #000;
}

body.light-theme {
    background-color: #F8FAFE;
    color: #243B53;
}

.container{
    width: 1100px;
    margin: 0 auto;
    max-width: 95%;
}

.color-blue-gray{
    color: #102A43;
}

.color-blue-gray-light{
    color: #BCCCDC;
}

.bg-violent-gradient {
    background: linear-gradient(173.28deg, #B991FF 6.21%, #3EBDFF 150.77%);
}

.bg-orange-gradient { 
    background: linear-gradient(131.83deg, #FF9C9C 18.98%, #D5FA90 105.67%);
}

.bg-green-gradient {
    background: linear-gradient(129.71deg, #3EBFF1 0%, #05EDC4 100%);
}

.switcher{
    min-width: 150px;
}


.banner, .flying-cheap, .discover-flight, .join-us, .why-rent, .make-money{
    color: #fff;
}

.banner::after, .flying-cheap::after, .discover-flight::after, .join-us::after, .why-rent::after,
.make-money::after, .contact::after{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(13, 41, 62, 0.5);
    z-index: -1;
}

.banner .bottom-anchors, .banner-inner {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(52px);
}

.banner .line{
    width: 1px;
    background: rgba(255, 255, 255, 0.2);
}

.banner-choices{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.banner-choices .choice{
    cursor: pointer;
}

.banner-choices .choice.active{
    background: rgba(255, 255, 255, 0.1);
}

.dots, .why-rent .item {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(52px);
}

.how .card.active,
.flying-numbers .card.active{
    padding: 2px;
}


.how .card.active .card-inner,
.flying-numbers .card.active .card-inner{
    border: 4px solid #000;
}

.how .card, .flying-numbers .card {
    backdrop-filter: blur(52px);
    position: relative;
}

.how .card-inner, .flying-numbers .card-inner{
    position: relative;
}

.how .card1, .flying-numbers .card1{
    margin-left: 0;
    transition: all 0.6s ease-in-out;
}

.how .card .card-inner::after, .flying-numbers .card .card-inner::after{
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: -5px;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 10px;

}

.how .card.active .card-inner::after, .flying-numbers .card.active .card-inner::after {
    content: none;
}

.how .card1, .flying-numbers .card1 {
    background: linear-gradient(173.28deg, #B991FF 6.21%, #3EBDFF 150.77%);
}

.how .card2, .flying-numbers .card2 {
    background: linear-gradient(131.83deg, #FF9C9C 18.98%, #D5FA90 105.67%);
}

.how .card3, .flying-numbers .card3 {
    background: linear-gradient(129.71deg, #3EBFF1 0%, #05EDC4 100%);
}

.flying-cheap .cost-area,
.discover-flight .discover-area,
.make-money .make-area,
.contact .contact-area {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
}

.flying-cheap .card-wrap.active {
    padding: 4px;
    border: 1px solid #fff;
}

.flying-cheap .chose-card {
    width: 100%;
    padding: 100% 0 0 0; 
}

.availables .fly{
    border-radius: 16px;
}

.availables .fly .big {
    transition-duration: 0.2s;
    overflow: hidden;
}

.availables .fly .big::after{
    content: ' ';
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    bottom: -5px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5;
    border-radius: 16px;
}

.availables .fly > .big {
    display: block;
    transition-duration: 0.2s;
    overflow: hidden;
    min-width: 255px;
}

.availables .fly.active > .small {
    display: none;
    transition-duration: 0.2s;
}

.join-us .item {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(50px);
}

.discover-experiences .item,
.passenger .item, 
.owner .item, .pilot .item
{
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(52px);
    min-width: 200px;
}

.discover-experiences .item{
    min-width: 150px;
}


.directions .map{
    background: rgba(255, 255, 255, 0.06);
}

.directions .map.active .small-img {
    display: none;
}

.directions .map .info {
    display: block;
    min-width: 255px;
}

.questions .item {
    cursor: pointer;
}

.questions .item.active .plus{
    display: none;
}

.questions .item.active .minus,
.questions .item.active .text{
    display: block;
}

.review-slider-nav .slick-current{
    display: none;
}

.review-slider-nav .slick-slide{
    outline: none;
}

.how .arrow, .flying-numbers .arrow,
.review-slider-nav .slick-prev,
.review-slider-nav .slick-next{
    position: absolute;
    bottom: -120px;
    right: 100px;
    top: inherit;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8D9BAD;
}

.review-slider-nav .slick-prev,
.review-slider-nav .slick-next{
    position: absolute;
    bottom: -330px;
}

.how .arrow, .flying-numbers .arrow{
    bottom: -200px;
}

.how .arrow-right,
.flying-numbers .arrow-right{
    right: 0;
}

.how .arrow-left,
.flying-numbers .arrow-left{
    right: 70px;
}

.review-slider-nav .slick-prev{
    right: 170px;
    left: inherit;
}

.review-slider-nav .slick-disabled{
    display: none!important;
}

.review-slider-nav .slick-prev::before{
    content: url('img/arrow-left.svg');
    opacity: 1;
}

.review-slider-nav .slick-next::before{
    content: url('img/arrow-right.svg');
    opacity: 1;
}


.safety-inner h2,
.safety-inner p,
.safety-inner img{
    display: none;
}

.contact input::-webkit-input-placeholder,
.contact textarea::-webkit-input-placeholder{
    font-size: 12px;
    color: #334E68;
}

.mobile-nav {
    backdrop-filter: blur(10px);
}

.dark-theme.mobile-nav {
    background: rgba(13, 41, 62, 0.8);
}

.dark-theme.mobile-nav {
    background: rgba(13, 41, 62, 0.8);
}

.dark-theme .circle-overlap.active {
    padding: 4px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.7); 
}

.dark-theme .circle-overlap .dot{
    background: rgba(255, 255, 255, 0.7); 
}

.light-theme .circle-overlap.active {
    padding: 4px;
    border-radius: 50%;
    border: 1px solid #486581; 
}

.light-theme .circle-overlap .dot{
    background: #486581; 
}

header nav ul li:last-child{
    border-right: none!important;
}

.light-theme.dark-section-active header nav{
    color: #fff;
}


.light-theme.dark-section-active .circle-overlap.active {
    padding: 4px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.7); 
}

.light-theme.dark-section-active .circle-overlap .dot{
    background: rgba(255, 255, 255, 0.7); 
}

.light-theme.dark-section-active .banner {
    color: #fff;
}

.light-theme .scroll-icon rect{
    stroke: #102A43;
}

.light-theme.dark-section-active .scroll-icon rect{
    stroke: #fff;
}

.light-theme .sign-up {
    color: #fff;
}

.light-theme.dark-section-active .sign-up {
    color: #102A43;
}

.light-theme.dark-section-active .scroll-title,
.light-theme.dark-section-active .sign-in {
    color: #fff;
}

body.dark-theme .bg-orange {
    background-color: #FEB649;
}

body.light-theme .bg-orange {
    background-color: #FC9C2D;
}

body.dark-theme .color-orange {
    color: #FEB649;
}

body.light-theme .color-orange {
    color: #FC9C2D;
}

.light-theme .how .card.active .card-inner,
.light-theme .flying-numbers .card.active .card-inner{
    border: 4px solid #F8FAFE;
}

.light-theme .flying-numbers .card .card-inner{
    color: #fff;
}

.light-theme .directions .map{
    background: #F0F4F8;
}

.light-theme.mobile-nav {
    background: rgba(248, 250, 254, 0.8);
}

.light-theme .plane-types .fly{
    color: #fff;
}

.light-theme .directions .map .from-to-light {
    display: none;
}

.light-theme .directions .map .from-to-dark {
    display: block;
}

.light-theme .join-us .btn{
    color: #fff;
}

.discover-experiences .item{
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(52px);
    cursor: pointer;
}

.discover-experiences .discover-item-big{
    display: none;
}

.discover-experiences .discover-item-big:first-child{
    display: block;
}

.light-theme .discover-experiences .item{
    background: #F0F4F8;
    color: #334E68!important;
}

.light-theme .discover-experiences h2{
    color: #334E68;
}

.discover-experiences .item.violet{
    background: linear-gradient(173.28deg, #B991FF 6.21%, #3EBDFF 150.77%);
}
   
.discover-experiences .item .inner{
    background: rgba(255, 255, 255, 0.1);
}

.light-theme .discover-experiences .item .inner{
    background: #FFF;
}

.light-theme .discover-experiences .item .from-to-dark{
    display: block;
}

.light-theme .discover-experiences .item .from-to-light{
    display: none;
}

.light-theme .discover-experiences .item.violet{
    color: #fff!important;
}

.light-theme .discover-experiences .item.violet .from-to-light{
    display: block;
}


.light-theme .discover-experiences .item.violet .from-to-dark{
    display: none;
}

.light-theme .discover-flight .btn,
.light-theme .make-money .btn, .light-theme .why-rent .btn,
.light-theme .make-money .btn{
    color: #fff;
}

.light-theme .discover-experiences .item,
.light-theme .passenger .item, 
.light-theme .owner .item,.light-theme .pilot .item{
    background: #F0F4F8;
    color: #334E68!important;
}

.switcher-big-hide .switcher{
    opacity: 0;
}

.light-theme .icon.show-mobile rect{
    fill: #243B53;
}

.light-theme  .icon.close-mobile path{
    stroke: #243B53;
}

.light-theme.dark-section-active .icon.show-mobile rect{
    fill: #fff;
}

.light-theme.dark-section-active  .icon.close-mobile path{
    stroke: #fff;
}


@media screen and (min-width: 768px){
    .availables .fly.active > .big {
        display: block;
    }
    .review-slider-nav .slick-prev,
    .review-slider-nav .slick-next{
        bottom: -120px;
    }
}

@media screen and (min-width: 1200px) {
    .how .card, .flying-numbers .card{
        min-width: 370px;
    }
    .availables .fly .big {
        display: none;
    } 
    .directions .map .info {
        display: none;
    }
    .directions .map.active .info {
        display: block;
    }
    
}

@media screen and (min-width: 1280px) {
    .how .card1.active, .flying-numbers .card1.active{
        margin-left: 5rem;
        transition: all 0.6s ease-in-out;
    }
    .how .arrow, .flying-numbers .arrow{
        bottom: -120px;
    }

    .light-theme header nav ul li{
        border-right: 1px solid #D9E2EC;
    }
    
    .light-theme.dark-section-active header nav ul li{
        border-right: 1px solid #FFF;
    }
}